@layer theme, base, mui, components, utilities;
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--light-text-primary: #121212;
	--light-background-secondary: #d7d7d7;
	--light-background-primary: #ececec;
	--light-text-secondary: #777;
	--light-yellow: #e0b519;
	--dark-text-primary: #c3c3c3;
	--dark-text-secondary: #797979;
	--dark-background-secondary: #1a1a1a;
	--dark-background-primary: #0e0e0e;
	--dark-background-nav: #080808;
	--background-light-transparent-100: rgba(163, 163, 163, 0.15);
	--background-light-transparent-50: rgba(163, 163, 163, 0.05);
	--background-transparent-600: rgba(163, 163, 163, 0.6);
	--main-yellow: #f5c518;
	--main-yellow-sec-light: #b29630;
	--main-yellow-sec-dark: #d8c882;
	--main-blue: #42bdda;

	--font-family: "Roboto", sans-serif;

	--radius: 0.625rem;

	--background: oklch(1 0 0);

	--foreground: oklch(0.145 0 0);

	--card: oklch(1 0 0);

	--card-foreground: oklch(0.145 0 0);

	--popover: oklch(1 0 0);

	--popover-foreground: oklch(0.145 0 0);

	--primary: oklch(0.205 0 0);

	--primary-foreground: oklch(0.985 0 0);

	--secondary: oklch(0.97 0 0);

	--secondary-foreground: oklch(0.205 0 0);

	--muted: oklch(0.97 0 0);

	--muted-foreground: oklch(0.556 0 0);

	--accent: oklch(0.97 0 0);

	--accent-foreground: oklch(0.205 0 0);

	--destructive: oklch(0.577 0.245 27.325);

	--border: oklch(0.922 0 0);

	--input: oklch(0.922 0 0);

	--ring: oklch(0.708 0 0);

	--chart-1: oklch(0.646 0.222 41.116);

	--chart-2: oklch(0.6 0.118 184.704);

	--chart-3: oklch(0.398 0.07 227.392);

	--chart-4: oklch(0.828 0.189 84.429);

	--chart-5: oklch(0.769 0.188 70.08);

	--sidebar: oklch(0.985 0 0);

	--sidebar-foreground: oklch(0.145 0 0);

	--sidebar-primary: oklch(0.205 0 0);

	--sidebar-primary-foreground: oklch(0.985 0 0);

	--sidebar-accent: oklch(0.97 0 0);

	--sidebar-accent-foreground: oklch(0.205 0 0);

	--sidebar-border: oklch(0.922 0 0);

	--sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
	--color-background: var(--dark-background-primary);
	--color-text-primary: var(--dark-text-primary);
	--color-text-secondary: var(--dark-text-secondary);
	--color-background-secondary: var(--dark-background-secondary);
	--color-background-nav: var(--dark-background-nav);
	--color-background-light-transparent-100: var(
		--background-light-transparent-100
	);
	--color-background-light-transparent-50: var(
		--background-light-transparent-50
	);
	--color-background-transparent-600: var(--background-transparent-600);
	--color-main-yellow: var(--main-yellow);
	--color-main-yellow-sec-light: var(--main-yellow-sec-light);
	--color-main-yellow-sec-dark: var(--main-yellow-sec-dark);
	--color-main-blue: var(--main-blue);

	--font-family: var(--font-family);

	--color-sidebar-ring: var(--sidebar-ring);

	--color-sidebar-border: var(--sidebar-border);

	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

	--color-sidebar-accent: var(--sidebar-accent);

	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

	--color-sidebar-primary: var(--sidebar-primary);

	--color-sidebar-foreground: var(--sidebar-foreground);

	--color-sidebar: var(--sidebar);

	--color-chart-5: var(--chart-5);

	--color-chart-4: var(--chart-4);

	--color-chart-3: var(--chart-3);

	--color-chart-2: var(--chart-2);

	--color-chart-1: var(--chart-1);

	--color-ring: var(--ring);

	--color-input: var(--input);

	--color-border: var(--border);

	--color-destructive: var(--destructive);

	--color-accent-foreground: var(--accent-foreground);

	--color-accent: var(--accent);

	--color-muted-foreground: var(--muted-foreground);

	--color-muted: var(--muted);

	--color-secondary-foreground: var(--secondary-foreground);

	--color-secondary: var(--secondary);

	--color-primary-foreground: var(--primary-foreground);

	--color-primary: var(--primary);

	--color-popover-foreground: var(--popover-foreground);

	--color-popover: var(--popover);

	--color-card-foreground: var(--card-foreground);

	--color-card: var(--card);

	--color-foreground: var(--foreground);

	--breakpoint-vsm: 475px;
}

html {
	@apply scroll-smooth;
}

body {
	@apply bg-background text-text-primary scroll-smooth;
}

*::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}
*::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: #151515;
}

*::-webkit-scrollbar-track:hover {
	background-color: #151515;
}

*::-webkit-scrollbar-track:active {
	background-color: #151515;
}

*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #636363;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #4b4b4b;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #636363;
}

.container {
	@apply max-w-[1485px] px-5 mx-auto;
}

button {
	cursor: pointer;
}

* {
	@apply transition;
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

.swiper-pagination-bullet {
	@apply !w-3.5 !h-3.5 !bg-background-light-transparent-100 !opacity-100 !rounded-full !cursor-pointer;
}

.swiper-pagination-bullet-active {
	@apply !w-3.5 !h-3.5 !bg-background-transparent-600 !rounded-full !opacity-100;
}

.swiper-pagination {
	@apply !hidden;
}

.one-line {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-box;
	-moz-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	box-orient: vertical;
}
